<header>
  <app-header-form (update)="updateText()" (byUrl)="getFromUrl($event)"></app-header-form>
</header>
<div class="bottomBox">
  <main>
    <div class="table">
      <div class="codeBox">
        <app-code-box-textarea [(text)]="inputText"></app-code-box-textarea>
      </div>
      <div class="codeBox">
        <app-code-box-code [text]="showResult" ></app-code-box-code>
      </div>
    </div>
  </main>
  <div style="margin-top: 10px;" class="marginLeft20">
    <button (click)="getText()">Convert</button>
    <button (click)="copyTextToClipboard()" class="marginLeft20">Copy result</button>
  </div>
  <footer class="footer">
    <p class="footer__text">Created by: Voylokov Viktor</p>
  </footer>
</div>