$font-family: Quicksand,sans-serif;
$img-path: "src/assets/imgs";

$royal-blue: #607CF1;
$sea-green: #23B7BB;
$purple: #9C6BCE;
$lime-green: #44D85C;
$blue: #0A72F4;
$gold: #EBC83C;
$red: #EB5A2D;

$lavender: #EAEEFF;
$azure: #E8FEFF;
$pink-lavender: #F1E4FF;
$honeydew: #E6FFDE;
$alice-blue: #DEEDFF;
$cornsilk: #FFF8DC;
$misty-rose: #FFE8E1;

$dim-grey: #464646;
$grey: #8E8E8E;
$light-grey: #D4D4D4;
$smoke: #EDEDED;
$white-smoke: #F8F8F8;
