/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
a {
    padding: 10px;
    font-size: 0.9em;
}

.table {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

pre {
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
}

code {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    white-space: pre;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 0px;
    padding: 0px;
}

button {
    background-color: blue;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    min-width: 100px;
}

span {
    font-weight: bold;
}

.codeBox {
    width: 45%;
    flex-grow: 1;
    margin: 10px;
    height: 670px;
    display: flex;
    flex-direction: column;
}

.paddingLeft20 {
    padding-left: 20px;
}

.marginLeft20 {
    margin-left: 20px;
}

.headerBox {
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
}

.code {
    width: 100%;
    height: 640px;
    box-sizing: border-box;
    border: 1px solid orange;
}

.header {
    border: 1px solid orange;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

p {
    margin: 0px;
    padding-top: 10px;
}

.resultBox {
    overflow: auto;
}

.bottomBox {
    display: flex;
    flex-direction: column;
}

.toolbar {
    padding-top: 6px;
    width: 24px;
    cursor: pointer;
}